.admin-page {
    width: 60%;
}

.nav-links a {
    border: 3px solid white;
    border-radius: 12px;
    padding: 5px 12px;
    transition: 0.3s;
}

.active {
    border: 3px solid transparent;
    background: white;
    color: black!important;
}