.orders-block {
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid white;
    width: 650px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-15 {
    font-size: 15px;
}

.completed {
    position: relative;
    display: block;
    width: 135px;
    cursor: pointer;
    border: 0;
    background: transparent;
    text-align: left;
}

.completed:after {
    position: absolute;
    top: 2px;
    right: 0;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4436/4436481.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}