.orders-list {
    max-height: 600px;
    overflow-y: auto;
}

.w-68 {
    width: 68% !important;
}

.w-32 {
    width: 32% !important;
}

.f-16 {
    font-size: 16px!important;
}

.f-12 {
    font-size: 12px!important;
}