.list {
    padding: 10px;
    border: 1px solid white!important;
    background: rgba(255, 255, 255, 0.25) !important;
    max-height: 650px;
    overflow-y: auto;
}

.list-inner {
    display: flex;
    flex-direction: column;
    gap: 15px 40px;
}